{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home page</title>

  <link rel="stylesheet" href="{% static 'css/boostrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="{% static 'js/boostrap.min.js' %}"></script>
</head>
<body>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form }}
    {{ restaurant_form }}
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
